<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/8841dc85f6.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="/main.css" rel="stylesheet" />
    <title>Gestor de proyectos</title>
  </head>
  <body class="body">
    <div class="cardDetail">
      <img src="<%= photo %>" alt="Foto proyecto" class="cardDetail__photo" />
      <!-- <div class="cardDetail__photo"></div> -->
      <article class="preview__autor cardDetail__autor">
        <div class="preview__autor__info-project">
          <p class="preview__autor__info-project--subtitle">
            Personal Project Card
          </p>
          <h2 class="preview__autor__info-project--title"><%= name %></h2>
          <p class="preview__autor__info-project--slogan"><%= slogan %></p>
          <p class="preview__autor__info-project--desc"><%= description %></p>
          <div class="preview__autor__info-project--technologies">
            <p class="preview__autor__info-project--technologies--text">
              <%= technologies %>
            </p>
          </div>
          <div class="preview__autor__info-project--icons">
            <a class="cardLink" href="<%= repo %>" target="_blank">
              <i class="fa-brands fa-github-alt"></i>
            </a>
            <a
              class="cardLink"
              href="<%= demo %>"
              target="_blank"
              rel="noreferrer"
            >
              <i class="fa-solid fa-globe"></i>
            </a>
          </div>
        </div>

        <div class="preview__autor__info-autor">
          <img
            src="<%= image %>"
            alt="Foto autora"
            class="preview__autor__info-autor--image"
          />
          <p class="preview__autor__info-autor--job"><% job %></p>
          <p class="preview__autor__info-autor--name"><% autor %></p>
        </div>
      </article>
    </div>
  </body>
</html>
